.feur {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.decor {
    width: 80%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;

    background-color: pink;
}

.waitingScreen {
    width: 20%;
    height: 15%;
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: grey;
}